* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.positions {
  position: relative;
  bottom: 150px;
  left: 450px;
}
#header {
  padding: 40px;
}
.header-text {
  display: flex;
  align-items: center;
  gap: 34px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text a {
  text-decoration: none;
  color: #202336;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.logo {
  display: flex;
  align-items: center;
  margin-top: 1pc;
  gap: 30px;
}
.position2 {
  position: relative;
  bottom: 50%;
  left: 50%;
}
.positions2 {
  position: relative;
  bottom: 40px;
  left: -60px;
}
.a1 {
  width: 132px;
  border-radius: 8px;
  border: 1px solid #fb8f1d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  flex-shrink: 0;
  color: #fb8f1d;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
}

.a2 {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 400% */
  width: 132px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fb8f1d;
  border: none;
} /* HEADER END */
.exp-block h1 {
  color: #202336;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 125% */
}
.exp-block h6 {
  color: #202336;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  margin-top: 74px;
  font-weight: 600;
  line-height: normal;
}
.line {
  width: 32px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 4px;
  margin-bottom: 48px;
  margin-top: 9px;
  background: #202336;
}
.logo select {
  color: #4a4c53;
  font-family: Inter;
  background: white;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 213.333% */
  display: flex;
  width: 68px;
  justify-content: center;
  align-items: center;
  height: 10px;
  padding-left: 1pc;
  justify-content: center;
  flex-shrink: 0;
  width: 220px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 0.8px solid #afb0b9;
}
.exp-block button {
  width: 180px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fb8f1d;
  color: #4a4c53;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  color: #fff;
  font-family: Mulish;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 352.941% */
  font-weight: 400;
  margin-top: 45px;
  line-height: 32px; /* 213.333% */
}
.exp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero {
  display: flex;
  margin-top: 330px;
  align-items: center;
  margin-bottom: 226px;
  justify-content: space-between;
  position: relative;
}
.position3 {
  position: relative;
  bottom: 300px;
  left: 710px;
}
.a10 {
  color: #000;
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 138.889% */
}
.position7 {
  position: relative;
  bottom: 200px;
  left: 1300px;
}
.a12 {
  color: #7d7987;
  font-family: Mulish;
  margin-top: 20px;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 39px;
  font-weight: 300;
  line-height: 30px; /* 176.471% */
}
.position8 {
  position: relative;
  top: 200px;
  left: 350px;
}
.position9 {
  position: relative;
  bottom: 350px;
  left: 50px;
}
.a13 {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 375% */
  width: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fb8f1d;
}
.position4 {
  position: relative;
  bottom: -110px;
  right: 170px;
}

.mols {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.positi {
  position: relative;
  top: 300px;
  left: -100px;
}
.position55 {
  position: relative;
  bottom: 100px;
  left: 500px;
}
.position6 {
  position: relative;
  bottom: 80px;
  left: 1000px;
}
.a14 {
  color: #000;
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 138.889% */
}
.a15 {
  color: #fb8f1d;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 352.941% */
  display: flex;
  gap: 10px;
  align-items: center;
}
.mol {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 132px;
}
.lo {
  color: #000;
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 138.889% */
}

.kola {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zw {
  display: flex;
  align-items: center;
  gap: 10px;
}
.a16 {
  color: #000;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  margin-top: 30px;
  font-weight: 400;
  line-height: 36px; /* 150% */
  width: 450px;
}
.a17 {
  margin-top: 40px;
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 218.182% */
}
.a18 {
  color: rgba(0, 0, 0, 0.85);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 266.667% */
}
.frog-1 {
  display: flex;
  align-items: center;
  margin-top: 187px;
  margin-bottom: 47px;
  justify-content: space-between;
}
.a19 {
  color: #000;
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 138.889% */
}
.a20 {
  color: #fb8f1d;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 352.941% */
}
.position10 {
  position: relative;
  bottom: 100px;
  right: 700px;
}
.frog-12 img {
  width: 238px;
  height: 245px;
  flex-shrink: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.position11 {
  position: relative;
  bottom: 100px;
  left: 100px;
}
.a21 {
  color: #000;
  font-family: Inter;
  margin-top: 13px;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 157.895% */
}
.a22 {
  color: #7d7987;
  font-family: Inter;
  margin-top: 13px;
  margin-bottom: 23px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 173.333% */
}
.a23 {
  color: #fb8f1d;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 186.667% */
}

.frog {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer {
  display: flex;
  margin-top: 250px;
  justify-content: space-between;
}
.a20 {
  color: #848484;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  width: 391px;
  font-weight: 300;
  margin-top: 26px;
  margin-bottom: 55px;
  line-height: 28px; /* 155.556% */
}
.a21 {
  color: #848484;
  font-family: Mulish;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 164.706% */
}
.footer-2 {
  display: flex;
  flex-direction: column;
}
.a24 {
  color: #000;
  font-family: Mulish;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 315.789% */
}
.a25 {
  color: #848484;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

.footer-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 33px;
}
